<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="AWrOZ1cZVec_sWM4K9vMYnEp1NYcowL0RVx1zKrFGyr5vimwz7z2ESd8okvx-3Fc0HBF1NeORsEoWWBQ"/>
      <add name="clientSecret" value="EMUoZabMv0zpXskZhMOt8o0ZtJpNtdMMOqe1rit7cZCh9-kU0oMTTUQczx_dtu9b3CostJyzDMejzuaQ"/>
    </settings>
  </paypal>
</configuration>